/* Background of entire app */
.App {
  /* width: 100vw;
  height: 100vh; */
  /* 
  grid-template-columns: 70vw 25vw;
  column-gap: 2vw; */
  display: grid;
  justify-content: center;
  padding: 20px;
}
/* search form and results */
.formAndResults,
.form,
.results {
  display: grid;
  justify-content: center;
}

Form {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.results {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 2vw;
  row-gap: 2vh;
  margin: 10px;
  padding: 10px;
}

/* the buttons */
.loadMediaButton {
  margin-right: 10px;
}

.starButton {
  border: none;
  background-color: transparent;
}

.heartLogo:hover {
  color: rgba(255, 0, 0, 0.5);
}

.heartLogoTrue {
  color: red;
}

/* favorites */
.favoritesContaineropen {
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  border: 1px solid red;
  transition-timing-function: ease-out;
  background-color: grey;
}

.favoritesContainerClosed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  border: 1px solid red;
  transition-timing-function: ease-in;
}
.visualContent {
  margin: 20px;
  border-top: 2px solid black;
  color: #fff;
  font-size: 14px;
}
.hiddenContent {
  display: none;
}

/* form error validation */
.errorMessage {
  color: red;
  font-size: 14px;
}
