/* Background of entire app */
.App {
  color: #fff;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.card {
  color: #000;
}
/* search form and results */
.formAndResults,
.form,
.results {
  display: grid;
  justify-content: center;
}

Form {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.results {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 2vw;
  row-gap: 2vh;
  margin: 10px;
  padding: 10px;
}

/* the buttons */
.loadMediaButton {
  margin-right: 10px;
}

.starButton {
  border: none;
  background-color: transparent;
}

.heartLogo:hover {
  color: rgba(255, 0, 0, 0.5);
}

.heartLogoTrue {
  color: red;
}

/* favorites */
.favoritesContaineropen {
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  border: 1px solid black;
  transition-timing-function: ease-out;
  background-color: grey;
  padding: 15px;
}

.favoritesContainerClosed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  border: 1px solid red;
  transition-timing-function: ease-in;
}
.visualContent {
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  color: #fff;
  font-size: 14px;
}

.visualContent a {
  color: black;
  text-decoration: none;
}

.visualContent a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1-1);
}

.hiddenContent {
  display: none;
}

/* form error validation */
.errorMessage {
  color: red;
  font-size: 14px;
}
